extends layout

block   content
        .container
            .starter-template
                h1 About us
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consequat iaculis nisi, vitae rhoncus metus laoreet vitae. Nunc accumsan lectus leo, vitae facilisis leo rhoncus nec. Praesent imperdiet vel erat eget sollicitudin. Vestibulum eleifend blandit pharetra. Curabitur non leo ultrices, porta nisl at, imperdiet arcu. Phasellus sem tortor, convallis non dolor et, facilisis placerat nibh. Praesent eleifend magna ipsum, quis tincidunt tellus hendrerit a. Curabitur ac condimentum nulla. Vestibulum commodo, nisl dictum maximus tincidunt, ante felis euismod massa, vitae dictum tellus quam id ipsum. Maecenas volutpat venenatis orci, quis laoreet massa eleifend ut. Curabitur accumsan libero ac arcu semper, at dictum nulla commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi eleifend convallis nunc non accumsan.
                p
                    | Pellentesque in nibh finibus, tincidunt tellus nec, maximus urna. Nullam vitae finibus nisi. Sed iaculis, neque nec dictum tempus, magna urna posuere erat, quis fermentum nulla orci eget nisl. Pellentesque eget ex nulla. Quisque commodo, neque vel imperdiet efficitur, ante lectus pellentesque dui, sed faucibus massa enim at dolor. Cras cursus vehicula posuere. Praesent imperdiet rutrum leo, et venenatis eros malesuada non. Proin sed justo leo. Ut at ligula eget purus finibus bibendum non vel lorem. Mauris iaculis.
    